<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<!-- 使用IOC的注解开发，配置组件扫描   扫描类上的注解 -->
	<!-- <context:component-scan base-package="com.spring.Demo1" /> -->
	
	<!-- 在没有扫描的情况下使用属性注入的祝贺 -->
	<context:annotation-config></context:annotation-config>
	
	
	<bean id="Shop" class="com.spring.Demo1.Shop"></bean>
	<bean id="custor1" class="com.spring.Demo1.Custor1"></bean>
	<bean id="custor2" class="com.spring.Demo1.Custor2"></bean>
	
	<bean id="Shop2" class="com.spring.Demo1.Shop2">
		<property name="custor1" ref="custor1"/>
		<property name="custor2" ref="custor2"/>
	
	</bean>
	
	<bean id="Shop3" class="com.spring.Demo1.Shop3"></bean>
	
	
</beans>
